.navbar-inverse {
  background-color: #fff;
  border-color: #f5f6f7;
}

.navbar-inverse .navbar-brand {
  color: #333;
  text-transform: uppercase;
  font-weight: 800;
}

.navbar-inverse:hover .navbar-nav>li>a:hover {
  color: #222;
}

.navbar-inverse:hover .navbar-brand:hover {
  color: #222;
  text-transform: uppercase;
  font-weight: 800;
  /*text-shadow: 0 0 1px #222;*/
}

.topsection {
  margin-top: 0px;
  background: #f5f67f;
}

.pageheader {
  padding: 50px 0 35px;
  background: #0366d6;
}

.pageheadertitle {
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
}

.navbar-brand>img {
  display: inline-block;
  padding-right: 10px;
}

.imgprofile {
  display: inline-block;
  /*padding: 20px 0;*/
  /*background-image: url("https://avatars0.githubusercontent.com/u/26160910?v=3&u=6b924486bb5a93f61eff56c0336ad276d9e10647&s=400");*/
}

.hometopsocial {
  width: 45px;
  background: #f5f6f7;
  margin-right: 5px;
  height: 45px;
}

section {
  padding: 75px 0;
  background: #f9f9f9;
}

.button-pill {
  border-radius: 50px;
}

button a {
  color: #f5f6f7;
  text-decoration: none;
}

button a:hover {
  color: #f5f6f7;
}

.repoBox {
  border-radius: 3px !important;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #9d9d9d;
}

.repoName {
  font-weight: 800;
  text-transform: uppercase;
  color: #0366d6;
}

.repoDate {
  font-weight: 300;
}

.repoLang {
  font-weight: 300;
}

.repoUrl {
  font-weight: 300;
}

.repoSpan {
  font-weight: 800;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  color: #111;
}

a {
  color: #0366d6;
  text-decoration: none;
}

.skill-graph {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid #EEEEEE;
  overflow: hidden;
}

.skill-legend {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.legend-item {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0.5rem 1rem;
  text-align: left;
}

.skill-graph {
  padding: 25px;
}

.skill-segment {
  font-size: 15px;
  line-height: 20px;
  padding: 20px;
  margin: 0;
  color: #f5f6f7;
}

.stacked-bars {
  padding: 0px;
}

.sectionwhite {
  background: #fff;
}

.jumbotron {
  background: url("/assets/mohamedresumeheader.jpg") no-repeat left top / cover;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: -20px 0;
  height: 450px;
}

.contactBox {
  background: #f9f9f9;
  padding: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #0366d6;
  border-color: #9d9d9d;
}

.title {
  color: #0366d6;
}

.navbar-inverse .navbar-brand {
  color: #0366d6;
  text-transform: uppercase;
  font-weight: 900;
  background: #f5f67f;
}

.navbar-inverse .navbar-nav>li>a {
  color: #222;
  text-transform: uppercase;
  font-weight: 800;
}

.nav-pills>li {
  float: left;
  padding: 10px 0;
}

.nav-pills {
  padding: 5px 0;
}

.navbar-header {
  padding: 10px 0;
  background: #F5f67f;
}

.nav-pills>li>a {
  border-radius: 4px;
  background: #0366d6;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  font-size: 17px;
  line-height: 19px;
}

.nav-pills>li>a:hover {
  border-radius: 4px;
  background: #f5f67f;
  text-transform: uppercase;
  font-weight: 300;
  color: #0366d6;
  font-size: 17px;
  line-height: 19px;
}

.footer p {
  color: #333;
}

.pull-right {
  float: right !important;
  width: 300px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 25px;
  line-height: 20px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
}

.footername {
  margin-bottom: 5px;
  color: #0366d6;
}

.footerlocation {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.list-group {
  padding-left: 0;
  margin-bottom: 0px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 5px 0px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 0px solid #ddd;
}

.footertitle {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #111;
  border-bottom: 3px solid;
  padding-bottom: 7px;
}

.footerinfo {
  padding: 20px 0 0;
}

.footerlinks {
  padding: 20px 0;
}

.homegithub {
  padding-bottom: 15px;
}

.laptop {
  margin-bottom: 35px;
}

.white-back {
  min-height: 500px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 400;
  color: #555;
}

.connect {
  /*background: #f5f6f7;*/
}

.search-sort {
  background: #f5f6f7;
  padding: 10px 10px 3px;
}

.search-collections {
  background: #f5f6f7;
  padding: 10px 10px 3px;
  border-bottom: 0px solid #999;
  margin-left: -10px;
}

.search-results-container .tab-content {
  background: #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #555;
  background-color: #fff;
}

.search-results-container .tab-content {
  background: #fff;
  padding: 20px 10px;
  border-radius: 0 0 5px 5px;
  border-left: 0px solid #ddd;
  border-right: 0px solid #ddd;
  border-bottom: 0px solid #ddd;
}

#qt {
  line-height: 25px;
  padding: 20px;
}

#searchsubmit {
  line-height: 25px;
  padding: 20px;
}

.btn {
  padding: 11px 30px;
}

a {
  color: #003865;
}

.search-results-container .search-tabs {
  margin: 0 0 20px 0;
}

.file-ext-doc {
  color: #255795;
  background: #f5f6f7;
}

.file-ext-pdf {
  color: #c5210d;
  background: #f5f6f7;
}

.result-date {
  display: inline-block;
  width: auto;
  padding-right: 10px;
  border-right: 1px solid #ddd;
  margin-right: 10px;
}

.searchresult_footer {
  display: inline-block;
  width: auto;
}

.result-breadcrumb {
  text-transform: uppercase;
}

.result-description {
  color: #555;
}

.breadcrumblink {
  color: #003865;
  font-size: 11px;
}

hr {
  margin-top: 18px;
  margin-bottom: 18px;
  border: 0;
  border-top: 1px solid #eee;
}

.topli {
  padding-top: 12px !important;
}

.lineli {
  border-bottom: 1px dashed #ccc;
  margin: 7px 10px 10px !important;
}
