<div class="content white-back padding" id="content" tabindex="0">


  <div class="container">
    			<div class="row">
    				<!-- left column //-->
    				<div class="col-sm-9 col-md-push-3 search-results-container margin-bottom">
  							<!-- search and help tabs //-->
  					<div role="tabpanel" class="search-tabs list-tabs">

  						<!-- Nav tabs -->
  						<ul class="nav nav-tabs" role="tablist">
  							<li role="presentation" class="active">
  								<a href="#search" aria-controls="search" role="tab" data-toggle="tab">Search</a>
  							</li>
  							<li role="presentation">
  								<a href="#help" aria-controls="help" role="tab" data-toggle="tab">Help</a>
  							</li>
  						</ul>

  						<!-- Tab panes -->
  						<div class="tab-content">

  							<!-- search form //-->
  							<div role="tabpanel" class="tab-pane active" id="search">

  								<form rel-collection="mn-gov" name="velocity" class="margin-bottom" id="search-docs" action="#" method="get">

  									<h2>Your search:</h2>

  									<input type="hidden" name="query" id="query-docs"></input>
  <!-- #### UPDATED THIS FOR EACH NEW SOURCE #### -->
  									<input type="hidden" name="v:sources" id="sources" value="mn-deed-live"></input>
  									<input type="hidden" name="date" id="date"></input>
  									<input type="hidden" name="binning-state" id="binning-state"></input>

  									<div class="searchgroup margin-bottom">
  										<label for="qt" class="sr-only">Search:</label>
  										<div class="input-group input-group-md">
  											<input id="qt" name="qt" type="text" value="" class="form-control" placeholder="Search"></input>
  											<span class="input-group-btn">
  												<button type="submit" class="btn btn-md">
  													<span class="fa fa-search"></span>
  													<span class="sr-only">Submit</span>
  												</button>
  											</span>
  										</div>
  									</div>



  							</div>

  							<!-- help content //-->
  							<div role="tabpanel" class="tab-pane" id="help">
  								<h2>Help with searching</h2>

                                  <!-- HELP FAQS -->

                                  <div class="list-faq">
                                          <ul>

                                              <li id="1">
                                          		<div class="question">
  													<a aria-expanded="false" aria-controls="tcm:12-54473" class="question-link no-scrolling" href="#1"><span class="fa fa-plus-square"></span>

  													Is search case-sensitive?
  													</a>
  												</div>
  <span><!-- Start Component Presentation: {"ComponentID" : "tcm:12-54468", "ComponentModified" : "2015-08-25T14:47:07", "ComponentTemplateID" : "tcm:12-874-32", "ComponentTemplateModified" : "2015-02-24T14:30:15", "IsRepositoryPublished" : false } --><div class="answer" id="tcm:12-54468" aria-hidden="true" tabindex="0" style="display: none;">

  	    <span><!-- Start Component Field: {"XPath":"tcm:Content/custom:Content/custom:BodyContent[1]"} -->
  	        <p>No, the search engine is not case-sensitive. For example, a search on "REPORT" will also return pages containing "Report" or report. A search on "deed" will also return pages containing "DEED".</p>
  	    </span>
  	                                            </div></span></li>
                                              <li id="2">
                                          		<div class="question">
  													<a aria-expanded="false" aria-controls="tcm:12-54473" class="question-link no-scrolling" href="#2"><span class="fa fa-plus-square"></span>

  													Does search check my spelling?
  													</a>
  												</div>
  <span><!-- Start Component Presentation: {"ComponentID" : "tcm:12-54469", "ComponentModified" : "2015-08-25T14:48:11", "ComponentTemplateID" : "tcm:12-874-32", "ComponentTemplateModified" : "2015-02-24T14:30:15", "IsRepositoryPublished" : false } --><div class="answer" id="tcm:12-54469" aria-hidden="true" tabindex="0" style="display: none;">

  	    <span><!-- Start Component Field: {"XPath":"tcm:Content/custom:Content/custom:BodyContent[1]"} -->
  	        <p>Yes, the search engine checks your search words against all of the words collected from the web site. When a word appears to be misspelled, the search engine looks at all the words it knows and offers you a word that could replace it.</p>
  	    </span>
  	                                            </div></span></li>
                                              <li id="3">
                                          		<div class="question">
  													<a aria-expanded="false" aria-controls="tcm:12-54473" class="question-link no-scrolling" href="#3"><span class="fa fa-plus-square"></span>

  													Can I search for a phrase?
  													</a>
  												</div>
  <span><!-- Start Component Presentation: {"ComponentID" : "tcm:12-54470", "ComponentModified" : "2015-08-25T14:48:51", "ComponentTemplateID" : "tcm:12-874-32", "ComponentTemplateModified" : "2015-02-24T14:30:15", "IsRepositoryPublished" : false } --><div class="answer" id="tcm:12-54470" aria-hidden="true" tabindex="0" style="display: none;">

  	    <span><!-- Start Component Field: {"XPath":"tcm:Content/custom:Content/custom:BodyContent[1]"} -->
  	        <p>To search for a phrase, type the phrase in quotation marks. For example, type "voter registration" in quotes in the search box.</p>
  	    </span>
  	                                            </div></span></li>
                                              <li id="4">
                                          		<div class="question">
  													<a aria-expanded="false" aria-controls="tcm:12-54473" class="question-link no-scrolling" href="#4"><span class="fa fa-plus-square"></span>

  													Are Boolean searching and wildcards allowed?
  													</a>
  												</div>
  <span><!-- Start Component Presentation: {"ComponentID" : "tcm:12-54471", "ComponentModified" : "2015-08-25T14:50:46", "ComponentTemplateID" : "tcm:12-874-32", "ComponentTemplateModified" : "2015-02-24T14:30:15", "IsRepositoryPublished" : false } --><div class="answer" id="tcm:12-54471" aria-hidden="true" tabindex="0" style="display: none;">

  	    <span><!-- Start Component Field: {"XPath":"tcm:Content/custom:Content/custom:BodyContent[1]"} -->
  	        <p></p><ul>
  <li>Boolean operators must be typed in UPPER CASE or they will not be recognized as operators.</li>
  <li>The Boolean operators 'OR', 'NOT', '-', and '+' may be used in your query. </li>
  <li>Using 'AND' is not necessary since all words are searched by default.</li>
  <li>The asterisk '*' can be used as a wildcard character.</li>
  </ul><p></p>
  <table border="1" style="width: 90%;">
  <tbody>
  <tr>
  <td><strong>Boolean Operator</strong></td>
  <td><strong>Description</strong></td>
  </tr>
  <tr>
  <td>OR</td>
  <td>Use 'OR' when you require only one of the search words to appear in the results.  Example: "city OR county"</td>
  </tr>
  <tr>
  <td>NOT or -</td>
  <td>Use 'NOT' or '-' when you do not want to exclude results that contain a particular term. Examples: "economic development NOT support" or " economic development -support "</td>
  </tr>
  <tr>
  <td>*</td>
  <td>Use '*' as a wildcard to search on all words that contain the letters you enter.  You must enter a minimum of three letters plus the '*' character.  Example: "employ*" would find "employ" or "employer" or "employee"</td>
  </tr>
  <tr>
  <td rowspan="1">+</td>
  <td rowspan="1">Use '+' when you require the exact word to appear in all of the results. For multiple words, you must use put a + sign in front of each word that must be exact. Example: search on "+lipitor cholesterol" if you only want to retrieve results with the brand name "Lipitor" and the word "cholesterol", and no results with the generic synonym "Atorvastatin"</td>
  </tr>
  </tbody>
  </table>
  	    </span>
  	                                            </div></span></li>
                                              <li id="5">
                                          		<div class="question">
  													<a aria-expanded="false" aria-controls="tcm:12-54473" class="question-link no-scrolling" href="#5"><span class="fa fa-plus-square"></span>

  													What do I do if I get a message saying, “No results were found for your query”?
  													</a>
  												</div>
  <span><!-- Start Component Presentation: {"ComponentID" : "tcm:12-54472", "ComponentModified" : "2015-08-25T14:50:24", "ComponentTemplateID" : "tcm:12-874-32", "ComponentTemplateModified" : "2015-02-24T14:30:15", "IsRepositoryPublished" : false } --><div class="answer" id="tcm:12-54472" aria-hidden="true" tabindex="0" style="display: none;">

  	    <span><!-- Start Component Field: {"XPath":"tcm:Content/custom:Content/custom:BodyContent[1]"} -->
  	        <p>There are a few reasons why you could have received this message:</p>
  <ul>
  <li>
  <p>Your word may be misspelled and the search engine can't find a substitute for it.  For example, if you had typed in "metakare" when you meant "medicare", the search engine won't be able to recognize it.</p>
  </li>
  <li>The information you are looking for may not be available on this website.</li>
  </ul>
  	    </span>
  	                                            </div></span></li>
                                              <li id="6">
                                          		<div class="question">
  													<a aria-expanded="false" aria-controls="tcm:12-54473" class="question-link no-scrolling" href="#6"><span class="fa fa-plus-square"></span>

  													What types of files are searched?
  													</a>
  												</div>
  <span><!-- Start Component Presentation: {"ComponentID" : "tcm:12-54473", "ComponentModified" : "2015-08-25T14:51:32", "ComponentTemplateID" : "tcm:12-874-32", "ComponentTemplateModified" : "2015-02-24T14:30:15", "IsRepositoryPublished" : false } --><div class="answer" id="tcm:12-54473" aria-hidden="true" tabindex="0" style="display: none;">

  	    <span><!-- Start Component Field: {"XPath":"tcm:Content/custom:Content/custom:BodyContent[1]"} -->
  	        <ul>
  <li>Web pages (.html, .htm, .jsp)</li>
  <li>Adobe® Acrobat PDF (.pdf)</li>
  <li>Microsoft Excel (.xls)</li>
  <li>Microsoft® PowerPoint (.ppt)</li>
  <li>Microsoft® Word (.doc)</li>
  <li>Plain text (.txt)</li>
  </ul>
  	    </span>
  	                                            </div></span></li>
                                          </ul>

                                      </div>

                                  <!-- END HELP FAQS -->


  							</div>
  						</div>

  					</div>

              <div class="col-md-8">
            <div class="search-collections margin-bottom">
                                <fieldset>
                                    <label><b>Filter Results: </b></label>
                  <label for="thisWebsite">
<!-- #### UPDATE THIS FOR EACH NEW SOURCE #### -->
                    <input id ="thisWebsite" type="checkbox" name="qp" value="mn-deed-live" data-search="source"></input> Webpages
                  </label>

                  <label for="documents">
                    <input id="documents" type="checkbox" name="qp" value="url:.pdf" data-search="query"></input> Documents
                  </label>

                  <label for="documents">
                    <input id="documents" type="checkbox" name="qp" value="url:.pdf" data-search="query"></input> Other State Websites
                  </label>
                                </fieldset>
                              </div>
                            </div>

                            <div class="col-md-4">
                            <div class="search-sort margin-bottom">
                                              	<fieldset>
          											<label><b>Sort by: </b></label>
          											<label for="sortRelevance">
          												<input type="radio" id="sortRelevance" name="sortby" value="" checked="checked"></input> Relevance
          											</label>

          											<label for="sortDate">
          												<input type="radio" id="sortDate" name="sortby" value="date"></input> Date
          											</label>
                                              	</fieldset>
          									</div>
                          </div>



<div class="search-results">
  <div class="searchresult_number">Results 1 - 10 of 200</div>

  <div class="results margin-bottom">
  <div class="result-link">
  <span class="docIcon fa file-ext-doc"></span><a href="#">Minnesota Cleanup Revolving Loan Fund Loan Application</a>
  </div>
  <div class="result-description">Fiscal Years 2002 - 2003 Minnesota Cleanup Revolving Loan Fund Loan Application Form</div>
  <div class="result-date"><b>Date:</b> June 16, 2016</div>
  <div class="searchresult_footer">
  <span class="result-url">mn.gov/deed/assets/rlp-app-part2_tcm1045-132526.docx</span> - <span class="result-size">66K</span>
  </div>
  <div class="result-breadcrumb">
  <a class="breadcrumblink">For Government -> Financial Assistance -> Site Cleanup & Redevelopment Funding ->  Minnesota Cleanup Revolving Loan</a>
</div>
  </div>

  <hr />

  <div class="results margin-bottom">
  <div class="result-link">
  <span class="docIcon fa file-ext-pdf"></span><a href="https://mn.gov/deed/assets/alf-proof-investment-loan-request_tcm1045-131670.pdf">Angel <span class="vivbold qt0">Loan</span> Fund Program (ALF) Proof of Investment and <span class="vivbold qt0">Loan</span> Request Form</a>
  </div>
  <div class="result-description">Applicant Information Angel Loan Fund Program (ALF) Proof of Investment and Loan Request Form</div>
  <div class="result-date"><b>Date:</b> September 04, 2014</div>
  <div class="searchresult_footer">
  <span class="result-url">mn.gov/deed/assets/alf-proof-investment-loan-request_tcm1045-131670.pdf</span> - <span class="result-size">305K</span>
  </div>
  <div class="result-breadcrumb">
  <a class="breadcrumblink">For Business -> Financing A Business -> DEED Business Financing Programs ->  Angel Loan Fund Program</a>
  </div>
  </div>

  <hr />

  <div class="results margin-bottom">
  <div class="result-link">
  <span class="docIcon fa file-ext-doc"></span><a href="https://mn.gov/deed/assets/mn-reservist-veteran-business-loan-application_tcm1045-131665.docx">Minnesota Reservist and Veteran Business Loan Program Application for Business Loan</a>
  </div>
  <div class="result-description">Minnesota Investment Fund Minnesota Reservist and Veteran Business Loan Program Application for Business Loan</div>
  <div class="result-date"><b>Date:</b>  July 07, 2016</div>
  <div class="searchresult_footer">
  <span class="result-url">mn.gov/deed/assets/mn-reservist-veteran-business-loan-application_tcm1045-131665</span> - <span class="result-size">137K</span>
  </div>
  <div class="result-breadcrumb">
  <a class="breadcrumblink">For Business -> Financing A Business -> DEED Business Financing Programs ->  Angel Loan Fund Program</a>
  </div>
  </div>

  <hr />

  <div class="results margin-bottom">
  <div class="result-link">
  <span class="docIcon fa file-ext-pdf"></span><a href="https://mn.gov/deed/assets/business-loan-application-flood-final_tcm1045-131638.pdf">Business Loan Application Business Recovery Loan Program</a>
  </div>
  <div class="result-description">Business Loan Application Business Recovery Loan Program </div>
  <div class="result-date"><b>Date:</b> September 19, 2012</div>
  <div class="searchresult_footer">
  <span class="result-url">mn.gov/deed/assets/business-loan-application-flood-final_tcm1045-131638.pdf</span> - <span class="result-size">275K</span>
  </div>
  <div class="result-breadcrumb">
  <a class="breadcrumblink">For Business -> Financing A Business -> DEED Business Financing Programs ->  Business Recovery Loan Program</a>
  </div>
  </div>

  <hr />

  <div class="results margin-bottom">
  <div class="result-link">
  <a href="https://mn.gov/deed/business/financing-business/deed-programs/reservists/">Minnesota Reservist and Veteran Business Loan Program - MN Department of Employment and Economic Development</a>
  </div>
  <div class="result-description">
  <b>Description: </b>The Minnesota Reservist and Veteran Business Loan Program provides business <span class="vivbold qt0">loans</span> to companies that are affected when certain employees are called to active military duty and to individual veterans who have returned from active duty and want to start their own business.</div>
  <div class="result-date"><b>Date:</b> May 10, 2017</div>
  <div class="searchresult_footer">
  <span class="result-url">mn.gov/deed/business/financing-business/deed-programs/reservists/</span> - <span class="result-size">355K</span>
  </div>
  <div class="result-breadcrumb">
  <a class="breadcrumblink">For Business -> Financing A Business -> DEED Business Financing Programs ->  Minnesota Reservist and Veteran Business Loan Program </a>
  </div>
  </div>

  <hr />

  <div class="results margin-bottom">
  <div class="result-link">
  <a href="https://mn.gov/deed/business/starting-business/finance-basics/loan-agreements.jsp">Business Loan Agreements - Minnesota Department of Employment and Economic Development</a>
  </div>
<div class="result-description">
  <b>Description: </b>First-time business borrowers often feel overwhelmed by the volume and complexity of the documents they'll have to understand and sign once their <span class="vivbold qt0">loan</span> application has been approved. Commitment letters, promissory notes, credit agreements, mortgages, assignments and guarantees -- all of these and more can be part of even a relatively modest commercial <span class="vivbold qt0">loan</span>.</div>
  <div class="result-date"><b>Date:</b> August 10, 2017</div>
  <div class="searchresult_footer">
  <span class="result-url">mn.gov/deed/business/starting-business/finance-basics/loan-agreements.jsp</span> - <span class="result-size">353K</span>
  </div>
  <div class="result-breadcrumb">
  <a class="breadcrumblink">For Business -> Starting A Business -> Business Finance Basics ->  Business Loan Agreements</a>
  </div>
  </div>

  <hr />

  <div class="results margin-bottom">
  <div class="result-link">
  <a href="https://mn.gov/deed/business/financing-business/guidance/biz-loan-basics.jsp">Business Loan Basics - Minnesota Department of Employment and Economic Development</a>
  </div>
  <div class="result-description">
  <b>Description: </b>While there are many funding sources for starting a business, banks have typically been the major funding source for new businesses. Find out what banks expect from you - and what you can expect from them.</div>
  <div class="result-date"><b>Date:</b> December 03, 2016</div>
  <div class="searchresult_footer">
  <span class="result-url">mn.gov/deed/business/financing-business/guidance/biz-loan-basics.jsp</span> - <span class="result-size">351K</span>
  </div>
  <div class="result-breadcrumb">
  <a class="breadcrumblink">For Business -> Financing A Business -> Business Finance Guidance ->  Business Loan Basics</a>
  </div>
  </div>

  <hr />

  <div class="results margin-bottom">
  <div class="result-link">
  <a href="https://mn.gov/deed/government/financial-assistance/cleanup/demolition.jsp">Demolition Loan Program - Minnesota Department of Employment and Economic Development</a>
  </div>
  <div class="result-description">
  <b>Description: </b>The Demolition <span class="vivbold qt0">Loan</span> Program meets those needs by helping development authorities with the costs of demolishing blighted buildings on sites that have future development potential but where there are no current development plans.</div>
  <div class="result-date"><b>Date:</b> June 13, 2017</div>
  <div class="searchresult_footer">
  <span class="result-url">mn.gov/deed/government/financial-assistance/cleanup/demolition.jsp</span> - <span class="result-size">348K</span>
  </div>
  <div class="result-breadcrumb">
    <a class="breadcrumblink">For Government -> Financial Assistance -> Site Cleanup & Redevelopment Funding ->  Demolition Loan Program</a>
  </div>
  </div>

  <hr />

  <div class="results margin-bottom">
  <div class="result-link">
  <a href="https://mn.gov/deed/business/financing-business/guidance/loan-documentation.jsp">Loan Documentation - Minnesota Department of Employment and Economic Development</a>
  </div>
  <div class="result-description">
  <b>Description: </b>Commitment letters, promissory notes, credit agreements, mortgages, assignments. Understand the basics of loan documentation with this guide.</div>
  <div class="result-date"><b>Date:</b> April 11, 2017</div>
  <div class="searchresult_footer">
  <span class="result-url">mn.gov/deed/business/financing-business/guidance/loan-documentation.jsp</span> - <span class="result-size">346K</span>
  </div>
  <div class="result-breadcrumb">
    <a class="breadcrumblink">For Business -> Financing A Business -> Business Finance Guidance ->  Loan Documentation</a>
  </div>
  </div>

  <div class="results-navigation">
  <ul>
  <li>
  <span class="fa fa-arrow-left"></span><span class="sr-only"> view previous results</span>
  </li>
  <li>1</li>
  <li>
  <a href="?url=http%3A%2F%2Fsearch.oet.state.mn.us%2Fvivisimo%2Fcgi-bin%2Fquery-meta%3Fv%253afile%3Dviv_TWpDuo%26v%3Astate%3Droot%7Croot-10-10|0">2</a>
  </li>
  <li>
  <a href="?url=http%3A%2F%2Fsearch.oet.state.mn.us%2Fvivisimo%2Fcgi-bin%2Fquery-meta%3Fv%253afile%3Dviv_TWpDuo%26v%3Astate%3Droot%7Croot-20-10|0">3</a>
  </li>
  <li>
  <a href="?url=http%3A%2F%2Fsearch.oet.state.mn.us%2Fvivisimo%2Fcgi-bin%2Fquery-meta%3Fv%253afile%3Dviv_TWpDuo%26v%3Astate%3Droot%7Croot-30-10|0">4</a>
  </li>
  <li>
  <a href="?url=http%3A%2F%2Fsearch.oet.state.mn.us%2Fvivisimo%2Fcgi-bin%2Fquery-meta%3Fv%253afile%3Dviv_TWpDuo%26v%3Astate%3Droot%7Croot-40-10|0">5</a>
  </li>
  <li>
  <a href="?url=http%3A%2F%2Fsearch.oet.state.mn.us%2Fvivisimo%2Fcgi-bin%2Fquery-meta%3Fv%253afile%3Dviv_TWpDuo%26v%3Astate%3Droot%7Croot-50-10|0">6</a>
  </li>
  <li>
  <a href="?url=http%3A%2F%2Fsearch.oet.state.mn.us%2Fvivisimo%2Fcgi-bin%2Fquery-meta%3Fv%253afile%3Dviv_TWpDuo%26v%3Astate%3Droot%7Croot-60-10|0">7</a>
  </li>
  <li>
  <a href="?url=http%3A%2F%2Fsearch.oet.state.mn.us%2Fvivisimo%2Fcgi-bin%2Fquery-meta%3Fv%253afile%3Dviv_TWpDuo%26v%3Astate%3Droot%7Croot-70-10|0">8</a>
  </li>
  <li>
  <a href="?url=http%3A%2F%2Fsearch.oet.state.mn.us%2Fvivisimo%2Fcgi-bin%2Fquery-meta%3Fv%253afile%3Dviv_TWpDuo%26v%3Astate%3Droot%7Croot-80-10|0">9</a>
  </li>
  <li>
  <a href="?url=http%3A%2F%2Fsearch.oet.state.mn.us%2Fvivisimo%2Fcgi-bin%2Fquery-meta%3Fv%253afile%3Dviv_TWpDuo%26v%3Astate%3Droot%7Croot-90-10|0">10</a>
  </li>
  <li>
  <a href="?url=http%3A%2F%2Fsearch.oet.state.mn.us%2Fvivisimo%2Fcgi-bin%2Fquery-meta%3Fv%253afile%3Dviv_TWpDuo%26v%3Astate%3Droot%7Croot-10-10|0"><span class="fa fa-arrow-right"></span><span class="sr-only"> view next results</span></a>
  </li>
  </ul>
  </div>
  </div></div><div class="col-sm-3 col-md-pull-9 margin-bottom">
  <div class="search-filter-box">
  <h2>Refine your search</h2>
  <h3>Filter by topic</h3>
  <ul>
  <li><a class="highlighted" href="#">All Results</a></li>
  <li><a href="#">Business Assistance (9)</a></li>
  <li><a href="#">Business Loan Program (16)</a></li>
  <li><a href="#">Business Recovery Loan Program (3)</a></li>
  <li><a href="#">Cleanup Revolving Loan Program (17)</a></li>
  <li><a href="">Demolition Loan Program (3)</a></li>
  <li><a href="">Emerging Entrepreneur Loan Program (5)</a></li>
  <li><a href="#">More</a></li>
  </ul>
  </div>

  <div class="search-filter-box">
  <h2>Get in touch</h2>
  <h3>Contact An Office</h3>
  <ul>
  <li class="topli"><b>Business Finance Office</b></li>
  <li>651-234-1243</li>
  <li>business@state.mn.us</li>
  <li class="lineli"></li>
  <li><b>Government Programs Office</b></li>
  <li>651-234-1243</li>
  <li>business@state.mn.us</li>
  </ul>
  </div>

  </div>


                                </div>
                                <!-- end column //-->

    			</div>
    			<!-- end row //-->

    		</div>
    		<!-- end container block //-->

   <!-- END SEARCH CONTENT //-->





</div>
